.AppButton {
  padding: 8px 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ccc;
}

.AppButton:active, .AppButton:focus {
             outline: none;
           }
.AppButton:hover {
   background: #f0ff1e;
 }